/* FAQPage.css */
.faq-page {
    padding: 40px;
    text-align: center;
    color: black;
  }
  
  .faq-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .faq-item {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    text-align: left;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .faq-answer {
    font-size: 1.7rem;
    color: #fca311;
  }
  
  .arrow-up{
    color: #fca311;
  }

  @media (min-width: 320px) and (max-width: 768px){
    .faq-page {
      padding: 20px;
      text-align: center;
      color: black;
    }
    .faq-question > p{
      font-size: 15px;
      margin-bottom: -5px;
    }
    .faq-answer {
      font-size: 12px;
      color: grey;
    }
  }